name: Board Game CICD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: [ gcp-ce ]

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Cache Maven Local Repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn package --file pom.xml
    
    - name: Upload the Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: board-game-artifact
        path: target/*.jar
    
    - name: Trivy File Scan
      run: |
        trivy fs --format table -o trivy-fs-report.html .
    
    - name: Upload Trivy Scan Report
      uses: actions/upload-artifact@v4
      with:
        name: Trivy File Scan Report
        path: trivy-fs-report.html
        
    - name: Cache Sonarqube Report
      uses: actions/cache@v3
      with:
        path: build/sonar/
        key: commit-${{ github.sha }}-workflow-${{ github.run_id }}-${{ github.run_number }}-report-task-${{ hashFiles('build/sonar/**') }}
    
    - name: Sonarqube Scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    
    - name: SonarQube Quality Gate check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      timeout-minutes: 5
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    
    - name: "SonarQube Quality Gate Status value"
      run: echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"
